<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
    <title layout:title-pattern="$CONTENT_TITLE"></title>


</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EDiary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
                <li class="nav-item active">
                    <a class="nav-link" href="/call-schedule">Расписание звонков</a>
                </li>
            </ul>
            <!--        Расписание занятий для учителя-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_TEACHER')}">
                <li class="nav-item active">
                    <a class="nav-link"
                       th:href="@{/lesson-timetable/for-teacher/{teacherId}(teacherId=${userfeed.userId})}">
                        Расписание занятий
                    </a>
                </li>
            </ul>
            <!--        Расписание занятий для ученика-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_STUDENT')}">
                <li class="nav-item active">
                    <a class="nav-link"
                       th:href="@{/lesson-timetable/for-class/{classId}(classId=${userfeed.studyingClass.classId()})}">
                        Расписание занятий
                    </a>
                </li>
            </ul>
            <!--        Расписание занятий для родителя-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_PARENT')}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Расписание занятий детей
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:each="child : ${userfeed.children}" th:text="${child.fullName()}"
                           th:href="@{/lesson-timetable/for-class/{classId}(classId=${child.learningClass().classId()})}"></a>
                    </div>
                </li>
            </ul>

            <!--        Успеваемость для ученика-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_STUDENT')}">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/marks/for-student/{studentId}(studentId=${userfeed.userId})}">
                        Моя успеваемость
                    </a>
                </li>
            </ul>
            <!--        Успеваемость для родителя-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_PARENT')}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Успеваемость детей
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:each="child : ${userfeed.children}" th:text="${child.fullName()}"
                           th:href="@{/marks/for-student/{studentId}(studentId=${child.childId()})}"></a>
                    </div>
                </li>
            </ul>
            <!--        Журнал для учителя-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_TEACHER')}">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Журнал
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <th:block th:each="teachingClass : ${userfeed.teachingClasses}">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"
                               th:text="${teachingClass.getClassDTO().name()}"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" th:each="subjet : ${teachingClass.subjects}"
                                   th:text="${subjet.name()}"
                                   th:href="@{/marks/for-class/{classId}/{subjectId}
                           (classId=${teachingClass.getClassDTO().classId()},subjectId=${subjet.subjectId()})}"></a>
                            </div>
                        </th:block>
                    </div>
                </li>
            </ul>

            <!--        Расписание собраний для ученика-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_STUDENT')}">
                <li class="nav-item active">
                    <a class="nav-link"
                       th:href="@{/meeting-schedule/list/{classId}(classId=${userfeed.studyingClass.classId()})}">
                        Расписание родительских собраний
                    </a>
                </li>
            </ul>
            <!--        Расписание собраний для родителя-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_PARENT')}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Расписание родительских собраний
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:each="child : ${userfeed.children}"
                           th:text="${child.fullName() + ' - ' + child.learningClass().name()}"
                           th:href="@{/meeting-schedule/list/{classId}(classId=${child.learningClass().classId()})}"></a>
                    </div>
                </li>
            </ul>
            <!--        Расписание собраний для классного руководителя-->
            <ul class="navbar-nav mr-auto" th:if="${userfeed != null && userfeed.roles.contains('ROLE_CLASSROOM_TEACHER')}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Расписание родительских собраний
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:each="class : ${userfeed.managedClasses}"
                           th:text="${class.name()}"
                           th:href="@{/meeting-schedule/list/{classId}(classId=${class.classId()})}"></a>
                    </div>
                </li>
            </ul>


            <span class="navbar-text" sec:authorize="isAuthenticated()" th:text="${#authentication.getName()}"></span>
            <span class="navbar-text" th:if="${#authentication == null}">
                <a class="nav-link" href="/login">Войти</a>
            </span>
            <span class="navbar-text" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Выйти</a>
            </span>
        </div>
    </nav>

    <section layout:fragment="content">
        <p>This is filled by content template</p>
    </section>
</div>

<footer th:replace="~{/fragments/footer::#footer}"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>