<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layuots/base-layout}">
<head>
    <title>Создание нового пользователя</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Создание нового пользователя</h1>

    <form class="needs-validation" method="post" th:action="@{/admin/users/create}"
          th:object="${credentials}">

        <div class="form-group">
            <label for="exampleFormControlSelect1">Роль</label>
            <select class="form-control" id="exampleFormControlSelect1"
                    name="role" data-th-value="${credentials.role}">
                <option th:value="'ROLE_STUDENT'">Ученик</option>
                <option th:value="'ROLE_PARENT'">Родитель</option>
                <option th:value="'ROLE_TEACHER'">Учитель</option>
                <option th:value="'ROLE_CLASSROOM_TEACHER'">Классный руководитель</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextareaLogin">Логин</label>
            <textarea class="form-control" id="exampleFormControlTextareaLogin" rows="1"
                      name="username"
                      data-th-text="${credentials.username}"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextareaSurname">Фамилия</label>
            <textarea class="form-control" id="exampleFormControlTextareaSurname" rows="1"
                      name="lastName"
                      data-th-text="${credentials.lastName}"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextareaName">Имя</label>
            <textarea class="form-control" id="exampleFormControlTextareaName" rows="1"
                      name="firstName"
                      data-th-text="${credentials.firstName}"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextareaPatronymic">Отчество</label>
            <textarea class="form-control" id="exampleFormControlTextareaPatronymic" rows="1"
                      name="patronymic"
                      data-th-text="${credentials.patronymic}"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextareaEmail">Логин</label>
            <textarea class="form-control" id="exampleFormControlTextareaEmail" rows="1"
                      name="email"
                      data-th-text="${credentials.email}"></textarea>
        </div>

        <div data-th-if="${errors}">
            <ul>
                <li class="form-error" data-th-each="error: ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>

        <button type="submit" class="btn btn-outline-primary">Создать</button>
    </form>
</section>
</body>
</html>