<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расписание уроков</title>
</head>
<body>
<h1 th:text="'Расписание для ' + ${forTeacher ? 'учителя ' + teacher.fullName() : 'класса ' + class.name()}"></h1>

<table>
    <thead>
    <tr>
        <th th:each="date : ${period}" th:text="${date}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${#numbers.sequence(1, 8, 1)}">
        <td th:each="date : ${period}">

            <div th:if="${lessonTimetable.get(date) == null || lessonTimetable.get(date).get(i) == null}" th:text="'-'"></div>
            <div th:if="${lessonTimetable.get(date) != null && lessonTimetable.get(date).get(i) != null}">
                <p th:text="'Номер урока: ' + ${lessonTimetable.get(date).get(i).lessonNumber}"></p>
                <p th:text="'Предмет: ' + ${lessonTimetable.get(date).get(i).subject}"></p>
                <p th:if="${forTeacher}" th:text="'Класс: ' + ${lessonTimetable.get(date).get(i).className}"></p>
                <p th:if="${!forTeacher}" th:text="'Преподаватель: ' + ${lessonTimetable.get(date).get(i).teacherFullName}"></p>
                <p th:text="'Аудитория: ' + ${lessonTimetable.get(date).get(i).classRoom}"></p>
                <p th:text="'Начало: ' + ${lessonTimetable.get(date).get(i).startTime}"></p>
                <p th:text="'Конец: ' + ${lessonTimetable.get(date).get(i).endTime}"></p>
            </div>

        </td>

    </tr>
    </tbody>
</table>

</body>
</html>