<!DOCTYPE html>
<html lang="ru">
<!--        lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{/fragments/layuots/base-layout}"-->

<head>
    <title>Вход</title>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/form-styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<!--<section layout:fragment="content">-->

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Вход</label>
                <input type="text" name="txt" placeholder="Логин" required="">
                <input type="password" name="pswd" placeholder="Пароль" required="">
                <button>Войти</button>
            </form>
        </div>
    </div>
<!--</section>-->
</body>

</html>