<!DOCTYPE html>
<html lang="ru">
<!--        lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{/fragments/layuots/base-layout}"-->

<head>
    <title>Обновление пароля</title>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/form-styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

<!--<section layout:fragment="content">-->

<div class="main-verify">
    <h1>Придумайте новый пароль</h1>

    <div class="signup">
        <form>
            <input type="password" name="pswd" placeholder="Новый пароль" required="">
            <input type="password" name="pswd" placeholder="Новый пароль еще раз" required="">
            <button>Сохранить</button>
        </form>
    </div>
</div>
<!--</section>-->
</body>

</html>