<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layuots/base-layout}">
<head>
    <title>Изменение родительских собраний</title>
</head>
<body>
<section layout:fragment="content">
    <a data-th-href="@{/meeting-schedule/list/{classId}(classId=${classId})}">&larr; К расписанию родительских
        собраний</a>

    <h1>Изменение родительского собрания</h1>

    <form method="post"
          th:action="@{/meeting-schedule/update/{classId}/{id}(classId=${classId},id=${meeting.getMeetingId()})}"
          th:object="${payload}">
        <div class="form-group">
            <label for="inputDate">Дата</label>
            <input id="inputDate" type="datetime-local" class="form-control" name="dateTime"
                   th:value="${#temporals.format(payload.dateTime, 'yyyy-MM-dd HH:mm')}">
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Аудитория</label>
            <select class="form-control" id="exampleFormControlSelect1"
                    name="classroomId" data-th-value="${payload != null ? payload.classroomId : meeting.classroomId}">
                <option th:each="classroom : ${classrooms}"
                        th:value="${classroom.id()}"
                        th:text="${classroom.name()}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                      name="description"
                      data-th-text="${payload != null ? payload.description : meeting.description}"></textarea>
        </div>

        <div data-th-if="${errors}">
            <ul>
                <li class="form-error" data-th-each="error: ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>

        <button type="submit" class="btn btn-outline-primary">Обновить</button>
    </form>
</section>
</body>
</html>