<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layuots/base-layout}">
<head>
    <title>Оценки класса</title>
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="'Оценки для класса ' + ${class.name()} + ' по предмету ' + ${subject.name()}"></h1>

    <div class="container-with-center-align">
        <ul class="study-period-list">
            <li th:each="studyPeriod : ${studyPeriods}" class="study-period">
                <div>
                    <a class="dropdown-item study-period-link" th:href="@{/marks/for-class/{classId}/{subjectId}
                           (classId=${class.id()},subjectId=${subject.id()},period=${studyPeriod.id()})}"
                       th:text="${studyPeriod.name()}"
                       th:classappend="${studyPeriod.id().equals(currentStudyPeriodId) ? 'active' : ''}"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="table-info">
                <th>Ученик</th>
                <th th:each="date : ${period}" th:text="${#temporals.format(date, 'dd-MMM')}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td class="table-success" th:text="${student.fullName()}"></td>

                <td th:each="date : ${period}">
                    <th:block th:if="${studentIdToDateToMarks.get(student.id()) != null
                && studentIdToDateToMarks.get(student.id()).get(date) != null}">
                        <p th:each="mark : ${studentIdToDateToMarks.get(student.id()).get(date)}"
                           class="grade"
                           th:classappend="${mark.markType == '5' ? 'grade-excellent' : (mark.markType == '4' ? 'grade-excellent'
                            : (mark.markType == '3' ? 'grade-good' : 'grade-bad'))}"
                           th:text="${mark.markType}"></p>
                    </th:block>

                    <!-- Trigger the modal with a button -->
                    <button th:if="${userfeed.roles.contains('ROLE_TEACHER')}"
                            type="button" class="btn btn-info btn-lg" data-toggle="modal"
                            th:attr="data-target='#myModal'+${student.id()} +${date}">+
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'myModal'+${student.id()} +${date}" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Добавление новой оценки</h5>
                                </div>
                                <div class="modal-body">
                                    <form class="needs-validation" method="post"
                                          th:action="@{/marks/create/{subjectId}/{studentId}/{classId}
                                              (subjectId=${subject.id()},studentId=${student.id()},classId=${class.id()},
                                              year=${date.getYear()},month=${date.getMonthValue()},day=${date.getDayOfMonth()})}"
                                          th:object="${request}">
                                        <div class="form-group" th:text="${'Предмет:' + subject.name()}"></div>
                                        <div class="form-group" th:text="${'Дата:' + #temporals.format(date, 'yyyy-MM-dd')}"></div>
                                        <div class="form-group" th:text="${'Ученик:' + student.fullName()}"></div>
                                        <div class="form-group">
                                            <label for="markTypePicker">Оценка</label>
                                            <select class="form-select" id="markTypePicker"
                                                    data-th-value="${request?.markTypeId}"
                                                    name="markTypeId">
                                                <option th:each="markType : ${markTypes}"
                                                        th:value="${markType.id()}"
                                                        th:text="${markType.name()}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="workTypePicker">Тип работы</label>
                                            <select class="form-select" id="workTypePicker"
                                                    data-th-value="${request?.workTypeId}"
                                                    name="workTypeId">
                                                <option th:each="workType : ${workTypes}"
                                                        th:value="${workType.id()}"
                                                        th:text="${workType.name()}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Описание оценки</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                                                      name="description"
                                                      data-th-value="${request?.description}"></textarea>
                                        </div>

                                        <div data-th-if="${errors}">
                                            <ul>
                                                <li class="form-error" data-th-each="error: ${errors}"
                                                    data-th-text="${error}"></li>
                                            </ul>
                                        </div>

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Отмена
                                        </button>
                                        <button type="submit" class="btn btn-success">Создать</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>