<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layuots/base-layout}">
<head>
    <title>Оценки ученика</title>
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="'Оценки ученика ' + ${student.fullName()}"></h1>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Оценки</th>
            <th>Средний балл</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.name()}"></td>

            <td th:if="${subjectIdToMarks.get(subject.id()) == null}">Нет выставленных оценок</td>
            <td th:unless="${subjectIdToMarks.get(subject.id()) == null}">
                <ul class="hr">
                    <li th:each="mark : ${subjectIdToMarks.get(subject.id()).getMarks()}"
                        th:text="${mark.markType}"></li>
                </ul>
            </td>

            <td th:text="${subjectIdToMarks.get(subject.id()) == null ? '-' : subjectIdToMarks.get(subject.id()).getAvg()}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>