<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расписание уроков</title>
    <style>
        ul.hr {
            margin: 0; /* Обнуляем значение отступов */
            padding: 4px; /* Значение полей */
        }
        ul.hr li {
            display: inline; /* Отображать как строчный элемент */
            margin-right: 5px; /* Отступ слева */
            border: 1px solid #000; /* Рамка вокруг текста */
            padding: 3px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<h1 th:text="'Оценки ученика ' + ${student.fullName()}"></h1>


<table>
    <thead>
    <tr>
        <th>Предмет</th>
        <th>Оценки</th>
        <th>Средний балл</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.name()}"></td>

        <td th:if="${subjectIdToMarks.get(subject.id()) == null}">Нет выставленных оценок</td>
        <td th:unless="${subjectIdToMarks.get(subject.id()) == null}">
            <ul class="hr">
                <li th:each="mark : ${subjectIdToMarks.get(subject.id()).getMarks()}" th:text="${mark.markType}"></li>
            </ul>
        </td>

        <td th:text="${subjectIdToMarks.get(subject.id()) == null ? '-' : subjectIdToMarks.get(subject.id()).getAvg()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>