<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layuots/base-layout}">
<head>
    <title>Оценки ученика</title>
</head>
<body>
<section layout:fragment="content">
    <h1 th:text="'Оценки ученика ' + ${student.fullName()}"></h1>

    <div class="container-with-center-align">
        <ul class="study-period-list">
            <li th:each="studyPeriod : ${studyPeriods}" class="study-period">
                <div>
                    <a class="dropdown-item study-period-link" th:href="@{/marks/for-class/{classId}/{subjectId}
                           (classId=${class.id()},subjectId=${subject.id()},period=${studyPeriod.id()})}"
                       th:text="${studyPeriod.name()}"
                       th:classappend="${studyPeriod.id().equals(currentStudyPeriodId) ? 'active' : ''}"></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="table-info">
                <th>Предмет</th>
                <th>Оценки</th>
                <th>Средний балл</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td class="table-success" th:text="${subject.name()}"></td>

                <td th:if="${subjectIdToMarks.get(subject.id()) == null}">Нет выставленных оценок</td>
                <td th:unless="${subjectIdToMarks.get(subject.id()) == null}">
                    <p th:each="mark : ${subjectIdToMarks.get(subject.id()).getMarks()}"
                       class="grade"
                       th:classappend="${mark.markType == '5' ? 'grade-excellent' : (mark.markType == '4' ? 'grade-excellent'
                            : (mark.markType == '3' ? 'grade-good' : 'grade-bad'))}"
                       th:text="${mark.markType}"
                       data-bs-toggle="tooltip" data-bs-placement="top" th:title="${mark.description + ', '
                           + mark.workType + ', ' + #temporals.format(mark.date, 'dd MMM yyyy')}"></p>
                </td>

                <th:block th:if="${subjectIdToMarks.get(subject.id()) != null}">
                    <td th:text="${subjectIdToMarks.get(subject.id()).getAvg()}"
                        class="grade"
                        th:classappend="${subjectIdToMarks.get(subject.id()).getAvg() >= 4 ? 'grade-excellent'
                        : (subjectIdToMarks.get(subject.id()).getAvg() >= 3 ? 'grade-good' :  'grade-bad')}"></td>
                </th:block>
                <th:block th:unless="${subjectIdToMarks.get(subject.id()) != null}">
                    <td th:text="'-'"></td>
                </th:block>

            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>