html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 100px; /* Высота footer */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #27aee3; /* Цвет фона footer */
    color: white; /* Цвет текста footer */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px; /* Отступы внутри footer */
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

.form-error {
    color: #e14141;
}