html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 100px; /* Высота footer */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #27aee3; /* Цвет фона footer */
    color: white; /* Цвет текста footer */
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px; /* Отступы внутри footer */
}

.call-schedule-table {
    text-align: center;
}

.table {
    table-layout: auto; /* Автоматическое определение ширины столбцов */
    width: auto; /* Ширина таблицы зависит от содержания */
}

.table td {
    white-space: nowrap; /* Запрещает перенос текста на следующую строку */
    width: 1%; /* Минимальная ширина, чтобы ячейка занимала только необходимую ширину для текста */
    font-size: 12px; /* Размер шрифта для всей таблицы */

}

.table th {
    white-space: nowrap; /* Запрещает перенос текста на следующую строку */
    width: 1%; /* Минимальная ширина, чтобы ячейка занимала только необходимую ширину для текста */
    font-size: 14px; /* Размер шрифта для всей таблицы */

}

.grade {
    width: 15px; /* Ширина квадрата */
    height: 15px; /* Высота квадрата */
    text-align: center; /* Выравнивание текста по центру */
    line-height: 15px; /* Высота квадрата, чтобы текст был по центру */
    font-size: 12px; /* Размер шрифта */
    color: white; /* Цвет текста */
    border-radius: 4px; /* Загругленные края */
    margin-left: 2px; /* Отступ для кнопки */
    margin-bottom: 0;
    margin-top: 3px;
}

.grade-excellent {
    background-color: green; /* Зеленый цвет для отличной оценки */
}

.grade-good {
    background-color: orange; /* Оранжевый цвет для хорошей оценки */
}

.grade-bad {
    background-color: red; /* Красный цвет для плохой оценки */
}


.container-with-center-align {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
}

.study-period-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    background-color: #f1f1f1;
}

.study-period {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.study-period-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.study-period-link:hover {
    background-color: #ddd;
}

.plus-button {
    width: 15px; /* Ширина квадрата */
    height: 15px; /* Высота квадрата */
    text-align: center; /* Выравнивание текста по центру */
    line-height: 15px; /* Высота квадрата, чтобы текст был по центру */
    font-size: 12px; /* Размер шрифта */
    color: white; /* Цвет текста */
    background-color: #007bff; /* Цвет фона кнопки */
    border: none; /* Убираем границы */
    border-radius: 4px; /* Загругленные края */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Курсор в виде руки */
    margin-left: 2px; /* Отступ для кнопки */
    margin-top: 3px;
}

.plus-button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.marks {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
}


.schedule-container {
    border: 1px solid #ccc; /* Граница контейнера */
    border-radius: 10px; /* Закругленные края */
    padding: 5px; /* Внутренние отступы */
    margin: 0 0; /* Отступы снаружи */
    background-color: #0dcaf0; /* Фоновый цвет контейнера */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
}

.schedule-item {
    display: flex;
    justify-content: space-between; /* Разделение элементов внутри по горизонтали */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding: 0 0; /* Отступы сверху и снизу для элементов */
    border-bottom: 2px solid black; /* Разделительная линия между элементами */
    color: black;
}

.schedule-item:last-child {
    border-bottom: none; /* Удаление линии для последнего элемента */
}

.schedule-time {
    font-weight: bold; /* Жирный текст для времени */
    color: black; /* Цвет текста */
}


.form-error {
    color: #e14141;
}